{% extends 'base.html' %}
{% block content %}
<div class="container my-3">
    <h3 class="border-bottom py-2">About us</h3>
    <div class="container">
        <div class="row py-2">
            <div class="border-end col-sm-3 mx-5">
                <h5>About Plantee</h5>
            </div>
            <div class="col mx-5">
                <h5>새로운 식물 관리 IoT 플랫폼, 플랜티 식물을 보는 새로운 눈</h5>
                <p>우리는 뭐시기를 새롭게 정의했다. 뭘 만듭니다.</p>
                <p>식물을 보는 새로운 눈</p>
            </div>
        </div>
    </div>
</div>
<div class="container my-3">
    <h3 class="border-bottom py-2">Production info</h3>
    <div class="container">
        <div class="row py-2">
            <div class="border-end col-sm-3 mx-5">
                <p>(사진 1)</p>
            </div>
            <div class="col mx-5">
                <p>(기술&기능 소개)</p>
            </div>
        </div>
    </div>
</div>
<div class="container my-3">
    <h3 class="border-bottom py-2">Teams</h3>
    <div class="container">
        <div class="row py-2">
            <div class="border-end col-sm-3 mx-5">
                <em>Server & Software Engineer</em>
            </div>
            <div class="col mx-5">
                <em>Chang-in Baek</em>
                <ul>
                    <li>Sejong Univ. Seoul, Republic of Korea</li>
                    <li>Dpt. of 전자정보통신공학과</li>
                    <li>Sunrin Internet Highschool</li>
                    <li>Server & Network Engineer</li>
                    <li>Python Django Framework</li>
                    <li>AI/ML</li>
                    <li>e-mail : qorckddls010@gmail.com</li>
                    <li>Github</li>
                    <li>Blog</li>
                </ul>
            </div>
            <div class="col mx-5">
                <em>(사진)</em>
            </div>
        </div>
        <div class="row py-2">
            <div class="border-end col-sm-3 mx-5">
                <em>Hardware Engineer</em>
            </div>
            <div class="col mx-5">
                <em>Seon Heo</em>
                <ul>
                    <li>Sejong Univ. Seoul, Republic of Korea</li>
                    <li>Dpt. of 전자정보통신공학과</li>
                    <li>PCB design</li>
                    <li>3D modeling & printing</li>
                    <li>e-mail : tjs1220@naver.com</li>
                </ul>
            </div>
            <div class="col mx-5">
                <em>(사진)</em>
            </div>
        </div>
    </div>
</div>
<div class="container my-3">
    <h3 class="border-bottom py-2">Contributing</h3>
    <div class="container">
        <div class="row py-2">
            <div class="border-end col-sm-3 mx-5">
                <em>source code can be found at :</em>
            </div>
            <div class="col mx-5">
                <em>end-device github link</em><br>
                <em>server github link</em>
            </div>
        </div>
    </div>
</div>
<div class="container my-3">
    <h3 class="border-bottom py-2">Contact us</h3>
    <div class="container">
        <div class="row py-2">
            <div class="border-end col-sm-3 mx-5">
                <em>e-mail :</em>
            </div>
            <div class="col mx-5">
                <em>qorckddls010@gmail.com</em>
            </div>
        </div>
    </div>
</div>
{% endblock %}