{% extends 'base.html' %}
{% block content %}
<title>{{ plant.nickname }}</title>
<div class="container my-3">
    <h2>측정값 전체보기 - {{ plant.nickname }}</h2>
    <table class="table">
        <tr>
            <td align=left>{{ plant.name }}</td>
            <td align="right">최근 물준 날짜 : {{ plant.date_watered }}</td>
        </tr>
    </table>
</div>
<div class="container my-3">
<h5 class="border-bottom my-3 py-2">{{ plant.data_set.count }}개의 데이터가 있습니다.</h5>
{% if datas %}
{% for data in datas %}
<div class="container my-3">
    <div class="card my-3">
        <div class="card-body">
            <div class="card-text" style="white-space: pre-line;">기온 : {{ data.temp }} °C</div>
            <div class="card-text" style="white-space: pre-line;">대기 습도 : {{ data.humi }} %</div>
            <div class="card-text" style="white-space: pre-line;">토양 수분 : {{ data.watery }} %</div>
            <div class="card-text" style="white-space: pre-line;">조도 : {{ data.light }} %</div>
            <div class="card-text" style="white-space: pre-line;">산성도 : ph {{ data.ph }}</div>
            <div class="d-flex justify-content-end">
                <div class="badge bg-light text-dark p-2">
                    ({{ data.date_measured }} 기준)
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% else %}
<div class="card my-3">
    <div class="card-body">
        <div class="card-text" style="white-space: pre-line;">측정값이 없습니다!</div>
    </div>
</div>
{% endif %}
    <!-- 페이징처리 시작 -->
    <ul class="pagination justify-content-center">
        <!-- 처음 & 이전페이지 -->
        {% if datas.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?serial_num={{ plant.serial_num }}&page=1">처음</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="?serial_num={{ plant.serial_num }}&page={{ datas.previous_page_number }}">&lt;</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">처음</a>
        </li>
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">&lt;</a>
        </li>
        {% endif %}
        <!-- 페이지리스트 -->
        {% for page_number in datas.paginator.page_range %}
        {% if page_number >= datas.number|add:-5 and page_number <= datas.number|add:5 %}
        {% if page_number == datas.number %}
        <li class="page-item active" aria-current="page">
            <a class="page-link" href="?serial_num={{ plant.serial_num }}&page={{ page_number }}">{{ page_number }}</a>
        </li>
        {% else %}
        <li class="page-item">
            <a class="page-link" href="?serial_num={{ plant.serial_num }}&page={{ page_number }}">{{ page_number }}</a>
        </li>
        {% endif %}
        {% endif %}
        {% endfor %}
        <!-- 다음페이지 & 마지막 -->
        {% if datas.has_next %}
        <li class="page-item">
            <a class="page-link" href="?serial_num={{ plant.serial_num }}&page={{ datas.next_page_number }}">&gt;</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="?serial_num={{ plant.serial_num }}&page=-1">마지막</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">&gt;</a>
        </li>
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">마지막</a>
        </li>
        {% endif %}
    </ul>
    <!-- 페이징처리 끝 -->
</div>
{% endblock %}