<!-- footer -->
<div class="container mt-auto">
  <footer class="py-3 my-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><a href="{% url 'home:index' %}" class="nav-link px-2 text-muted">Home</a></li>
      <li class="nav-item"><a href="{% url 'chatbot:chatbotmain' %}" class="nav-link px-2 text-muted">AI식물박사</a></li>
      <li class="nav-item"><a href="{% url 'poll:mainpage' %}" class="nav-link px-2 text-muted">맞춤형 식물찾기</a></li>
      <li class="nav-item"><a href="{% url 'home:about' %}" class="nav-link px-2 text-muted">About</a></li>
    </ul>
    <p class="text-center text-muted">© 2024 Team 데이터상하차, Sejong Univ.</p>
  </footer>
</div>